* {
  box-sizing: border-box; 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ffffff, #737e8b); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffffff, #737e8b); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffffff, #737e8b); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffffff, #737e8b); /* Standard syntax */
}

#menu {
  z-index: 1000;
}

#welcome-box {
  width: 100%;
  max-width: none;  
}

h1, h2, h3, h4{
  color: #3C3D3E;
}
.about {
  background-image: url('gplaypattern.png');
  width: 100%;
}

#about-me{
  width: 100%;
  height: 100vh;
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
/*  padding-left: 15vh;
  padding-right: 15vh;*/
}

.portrait {
  width: 300px;
  /*border-radius: 150px;*/
}

h2 {
  text-align: center;
}

.p-about {
  font-size: 2vh;
  text-align: left
}


#skills-list {
  width: 100%;
  height: 100vh;
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
  padding: 15vh;
}

#portofolio {
  width: 100%;
  height: 100vh;
/*  display: table-cell;*/
  vertical-align: middle;
  margin: 0 auto;
}

.fp-controlArrow.fp-next {
  border-color: transparent transparent transparent rgba(255, 132, 124, 0.6) !important;
  padding-left: 2vh;
}

.fp-controlArrow.fp-prev {
  border-color: transparent rgba(255, 132, 124, 0.6) transparent transparent  !important;
  padding-right: 2vh;  
}

.slide-content {
  width: 90vh;
  margin: 0 auto;
}


.section {
  text-align: left;
}

.title {
  /*display: inline-block;*/
}

#redbull-img {
  height: 375px;
  margin: auto;
}

#contact {
  width: 100%;
  height: 100vh;
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
  text-align: center;
}

.element {
  color: black;
  font-size: 50px;
}

a {
  text-decoration: none;
  color: black;
}

.pure-menu-horizontal {
  font-family: 'Inconsolata';
  text-align: center;
  margin-top: 30px;
  text-transform: uppercase;
  font-size: 25px;
  position: fixed;
  top: 0;
}

.pure-menu-item {
  margin-right: 0px;
  border-right: 1px solid #aaa;
}

.pure-menu-item:last-child {
  border-right: none;
}
 
.pure-menu-link {
  color: #FF847C;;
} 

.pure-menu-link:hover, .pure-menu-link:focus {
    background-color: transparent;
    /*text-decoration: underline;*/
    font-weight: bolder;
}

h1 {
  font-family: 'Inconsolata';
  vertical-align: middle;
  text-align: center;
  color: #3C3D3E;
}

p {
  font-family: 'Droid Sans', sans-serif;
  color: #3C3D3E;
}


.pure-g > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.pure-u-1 {
  display: table;
  margin: 0;
  max-width: none;
/*  border-collapse: separate;
  border-spacing: 10px;*/
}


.icon {
  font-size: 2.5vh;
 /* color: #3C3D3E; computer screen grey*/
  color: #f5f5f5;
  margin: .5vh;
}

.sm-icon {
  color: #E84A5F;
  font-size: 2vh;
}

.icon-sm {
  font-size: 2vh;
  color: #f5f5f5; 
}

.lg-icon {
  color: #E84A5F;
  font-size: 3vh;
}

.fa {
margin: .5vh;
}

.pure-button {
  border-radius: 8px;
  background-color: #E84A5F;
  color: white;

}

.firebase {
  height: 3vh;
  display: inline-block;
}

footer {
  text-align: center;
  font-size: 2vh;
  color: #E84A5F;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 150px;
  width: 100%;
}

.footer-li {
  display: inline;
  text-decoration: none;
  -webkit-text-shadow: 7px 7px 14px -3px rgba(255,255,255,0.68);
  -moz-text-shadow: 7px 7px 14px -3px rgba(255,255,255,0.68);
  text-shadow: 7px 7px 14px -3px rgba(255,255,255,0.68);
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

.footer-icon {
  font-size: 50px;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:.5; }
    100% { opacity:.8; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:.5; }
    100% { opacity:.8; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:.5; }
    100% { opacity:.8; }
}

