* {
  box-sizing: border-box; 
}

body {
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ffffff, #737e8b); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffffff, #737e8b); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffffff, #737e8b); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffffff, #737e8b); /* Standard syntax */
}

#menu {
  z-index: 1000;
}

#welcome-box {
  width: 100%;
  height: 100vh;
  max-width: none;  
  margin-top: 50vh;
}

/*section {
  display: table;
  table-layout: fixed;
  width: 100vh;
  margin: 0 auto;
}
*/
h1, h2, h3, h4{
  color: #3C3D3E;
}
.about {
  background-image: url('gplaypattern.png');
  width: 100%;
}

#about-me{
  width: 100%;
  height: 100vh;
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
  padding-left: 15vh;
  padding-right: 15vh;
}

.h2-about {
  text-align: left;
}

.p-about {
  font-size: 2vh;
  text-align: left
}


#skills-list {
  width: 100%;
  height: 100vh;
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
  padding: 15vh;
}

#portofolio {
  width: 100%;
  height: 100vh;
/*  display: table-cell;*/
  vertical-align: middle;
  margin: 0 auto;
}

/*.fp-controlArrow.fp-prev {
  display: none;
}*/

.slide-content {
  width: 90vh;
  padding: 100px;
  margin: 0 auto;
}


.section {
  text-align: left;
}

.title {
  display: inline-block;
}

#redbull-img {
  height: 375px;
}

#contact {
  width: 100%;
  height: 100vh;
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
  text-align: center;
}


.element {
  color: black;
  font-size: 50px;
}

a {
  text-decoration: none;
  color: black;
}

.pure-menu-horizontal {
  font-family: 'Inconsolata';
  text-align: center;
  margin-top: 30px;
  text-transform: uppercase;
  font-size: 25px;
  position: fixed;
  top: 0;
}

li {
  margin-right: 0px;
  border-right: 1px solid #aaa;
}

li:last-child {
  border-right: none;
}
 
.pure-menu-link {
  color: #FF847C;;
} 


h1 {
  font-family: 'Inconsolata';
  vertical-align: middle;
  text-align: center;
  color: #3C3D3E;
}

p {
  font-family: 'Droid Sans', sans-serif;
  color: #3C3D3E;
}


.pure-g > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.pure-u-1 {
  display: table;
  margin: 0;
  max-width: none;
/*  border-collapse: separate;
  border-spacing: 10px;*/
}


.icon {
  font-size: 3vh;
 /* color: #3C3D3E; computer screen grey*/
  color: #f5f5f5;
  margin: .5vh;
}

.sm-icon {
  color: #E84A5F;
  font-size: 2vh;
}

.icon-sm {
  font-size: 2vh;
  color: #f5f5f5; 
}

.fa {
margin: .5vh;
}

.firebase {
  height: 3vh;
  display: inline-block;
}


.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:.5; }
    100% { opacity:.8; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:.5; }
    100% { opacity:.8; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:.5; }
    100% { opacity:.8; }
}

